.navbar-default {
  border-radius: 0px;
  background-color: #2385a1;
  border-color: transparent;
  color: #fff; }

.navbar-brand {
  padding: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-header .navbar-toggle .icon-bar {
  background-color: #fff; }

#home {
  background: url(../design-agency/assets/img/home.jpg) no-repeat center center;
  /*Full Witdth background image*/
  background-size: cover;
  min-height: 600px;
  padding: 0;
  margin-top: -20px; }

#home .overlay {
  background-color: rgba(35, 133, 161, 0.5);
  padding-top: 90px;
  min-height: 600px;
  color: #fff; }

#home h1 {
  font-size: 100px;
  padding-top: 80px;
  font-weight: 900;
  font-family: 'Browallia New'; }

.p-cls {
  padding-top: 30px;
  padding-bottom: 40px; }

section {
  padding-top: 80px;
  padding-bottom: 120px; }

.pad-bottom {
  padding-top: 60px; }

#head-set {
  padding-top: 20px;
  padding-bottom: 20px; }

.parallax-like {
  background: url(../design-agency/assets/img/stats.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  color: #fff; }

.parallax-like .overlay {
  background-color: rgba(35, 133, 161, 0.9);
  min-height: 200px;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 60px; }

#video-sec {
  color: #fff;
  text-align: center; }

#video-sec .overlay {
  background-color: rgba(0, 0, 0, 0.85);
  min-height: 300px;
  color: #fff; }

#video-sec h1 {
  padding-top: 80px;
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 30px; }

.head-set {
  padding-top: 20px;
  padding-bottom: 20px; }

#clients {
  background-color: #f4f4f4;
  padding-bottom: 50px;
  padding-top: 50px; }

#clients img {
  opacity: 0.5; }

footer {
  padding: 20px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  background-color: #2385a1;
  color: #fff; }

footer a, footer a:hover {
  color: #fff;
  text-decoration: none; }
